# Tuples:

In [1]:
# Tuples similer to list, the difference between list & list is that tuples are immutable...

In [10]:
#Creating tuples:
t1=()    # empty tuple..
print(t1)

#single item tuple:
t2=(2,)
print(type(t2))  # this is not a tuple,it's string, so to make it tuple use , after item like..

#Homogenous:
t3=(1,2,3)
print(t3)

#Hetrogenous:
t4=(1,2.5,True,'Hello')
print(t4)

#2D tuple:
t5=(1,2,(3,4))
print(t5)

# using type conversation:
t6=tuple('Hello')
print(t6)

()
<class 'tuple'>
(1, 2, 3)
(1, 2.5, True, 'Hello')
(1, 2, (3, 4))
('H', 'e', 'l', 'l', 'o')

In [14]:
# How to access item from tuple:

#  1-Indexing:
print(t3)
print(t3[1])     #positive indexing...
print(t3[-1])    #Negative indexing...

(1, 2, 3)
2
3

In [17]:
# 2-Slicing:
print(t3[0:2])
print(t3[::-1])

(1, 2)
(3, 2, 1)

In [ ]:
# Edit & Adiing items in tuples:
#tuples are immutable, so we cant't edit or adding items in tuples...

In [20]:
# Delete items:
# We can del whole tuple but can't del single or double items in tuple...
del t1
print(t1)

NameError: name 't1' is not defined

In [25]:
# Operations on tuple:
# 1- (+ , *):
t1=(1,2,3,4,5)
t2=(6,7,8,9,10)
print(t1+t2)
print(t1*2)
    
# 2-Membership:    
print(1 in t1)

#  3-Iteration:
for i in t1:
    print(i)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)
True
1
2
3
4
5

In [30]:
# Tuple Functions:

t=(1,2,3,4,5)
print(len(t))
print(sum(t))
print(min(t))
print(max(t))
print(sorted(t))
print(sorted(t,reverse=True))

5
15
1
5
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [32]:
# count:
t.count(5)

1

In [33]:
# index:
t.index(4)

3

 Difference b/w List & tuple:

In [ ]:
# On register....

In [35]:
# Special syntax:
a,b,c=(1,2,3)
print(a,b,c)

1 2 3

In [36]:
a,b=(1,2,3)
print(a,b)

ValueError: too many values to unpack (expected 2)

In [37]:
#Swaping:
a=1
b=2
a,b=b,a
print(a,b)

2 1

In [38]:
#Tuple unpacking:
a,b,*other=(1,2,3,4)
print(a,b)
print(other)

1 2
[3, 4]

In [42]:
# Zipping Tuple:
a=(1,2,3,4)
b=(5,6,7,8)
print(zip(a,b))
print(tuple(zip(a,b)))

<zip object at 0x00000145AEDDBF40>
((1, 5), (2, 6), (3, 7), (4, 8))

# Sets:

In [54]:
# Creating sets:
#Empty set:
#s={}               #This is'nt empty cozz set & dictionary has same syntax, so to creat empty set use type conversian
s=set()
print(s)
print(type(s))

# 1D & 2D set:
s1={1,2,3}
print(s1)                 #There is no 2D set in sets cozz set can't contain mutable data types..


#Homo & Hetrogenous:
s3={1,2.3,True,'Hello'}   # python treat True as a 1. So true can't print cozz there is no duplecate in sets, 
print(s3)               

#Using type conversian:
s4=set([1,2,3,4])
print(s4)

#Duplication not allowed:
s5={1,2,1,3}
print(s5)

#Set can't have mutable itmes:
s6{1,2,[1,2]}
print(s6)      #print error cozz set can't contain mutable data types..

SyntaxError: invalid syntax (863949609.py, line 26)

In [56]:
# Sets are unordered :
a={1,2,3}
b={3,2,1}
print(a==b)

True

In [ ]:
#Accessing items:
#Accessing items does not allow cozz sets are unoredered.
# we can't do indexing & slicing in sets cozz sets are unoredered..

In [ ]:
#Editing items:
#For editing items we use indexing & slicing.  
#But in sets we can't do indexing & slicing cozz sets are unoredered..

In [58]:
#Adding items:

# 1-add:   use to add single item in set...
s={1,2,3,4}
s.add(5)             #we can't choose position cozz sets follow hashing concept..
print(s)

# 2- update:   use to add multiple items in set...
s.update([5,6,7,8])
print(s)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5, 6, 7, 8}

In [68]:
#Deleting items:

#1-del:  delete whole set..
s={1,2,3,4,5}
print(s)
del s        #we can't delete particuler item cozz set are unordered..
print(s)

{1, 2, 3, 4}
{1, 2, 4}

NameError: name 'S' is not defined

In [2]:
#2-discard:  we delete item by telling number..
s={1,2,3,4,5}
s.discard(5)         # if we throuogh diff item that not exist in set, it print set
print(s)

{1, 2, 3, 4}

In [4]:
#3-remove:
# remove & discard are same, 
s={1,2,3,4,5}
s.remove(5)   
print(s)
#the diff b/w discard & remove, discard print set if we  throuogh diff item that not exist, but remove print error..

{1, 2, 3, 4}

In [74]:
#4-pop:    delete random item..
s={1,2,3,4,5}
s.pop()
print(s)

{2, 3, 4, 5}

In [80]:
# 5-clear:   juts clear set..
s={1,2,3,4,5}
s.clear()
print(s)

set()

 Set Operations:

In [81]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
#1-uinon (|):
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [82]:
#2- Intersection(&):
s1&s2

{4, 5}

In [83]:
#3-Difference(-):
s1-s2

{1, 2, 3}

In [84]:
#4-Symmetric Difference(^):
s1^s2

{1, 2, 3, 6, 7, 8}

In [85]:
#5- Membership test:
1 in s1

True

In [86]:
#6-Iteration:
for i in s1:
    print(i)

1
2
3
4
5

Set Functions:

In [ ]:
#len
#min
#max
#sum
#sorted

In [88]:
#union/update:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s1.union(s2)

s1.update(s2)            # 1st set update permanntly..
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [92]:
#Intersection/Intersection_update:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s1.intersection(s2)

s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5, 6, 7, 8}

In [93]:
#difference/difference_update:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s1.difference(s2)

s1.difference_update(s2)
print(s1)
print(s2)

{1, 2, 3}
{4, 5, 6, 7, 8}

In [94]:
#Symmetric_difference/Symmetric_difference_update:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s1.symmetric_difference(s2)

s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [95]:
#isdisjoint:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s1.isdisjoint(s2)

False

In [100]:
#issubset:
s1={1,2,3,4,5}
s2={4,5}
s2.issubset(s1)

True

In [103]:
#issuperset:
s1={1,2,3,4,5}
s2={4,5}
s1.issuperset(s2)

True

In [105]:
# copy:
s1={1,2,3}
s2=s1.copy()
print(s1)
print(s2)

{1, 2, 3}
{1, 2, 3}

 Frozenset:

In [ ]:
#Frozenset is just an immutable version of a python set obj.

In [108]:
# Creating frozenset:
fs=frozenset([1,2,3,4])
print(fs)

frozenset({1, 2, 3, 4})

In [ ]:
# what works & what does not:
#All operatrions works on frozenset...
#All function does not works on frozenset...

In [ ]:
#When to use frozenset:

In [110]:
#2D frozenset:
fs=frozenset([1,2,frozenset([3,4])])
fs

frozenset({1, 2, frozenset({3, 4})})

 Set Comprehension:

In [113]:
#Example:
{i**2 for i in range(1,11) if i>5}

{36, 49, 64, 81, 100}

# Dictionary:

In [127]:
#Creating Dictionary:
d={}  # empty dic...
d
#1D dic..:
d1={'name':'awa','age':21}
d1


#With mixed keys:
d2={(1,2,3):1,'Hello':'World'}
d2


#2D dic..:
s={
    'Name':'Awais',
    'Collage':'Bit',
    'Sem':4,
    'Subjects':{
        'DSA':50,
        'Math':80,
        'English':40
    }
}
s


#Using sequence and dict function/ type func:
d4=dict([(1,1),(2,2),(3,3)])
d4


#Duplicate keys:
d5={'name':'awa','name':'Ana'}
d5


#Mutable items as keys:
#d6={'Name':'Awa',[1,2,3]:2}         #This will through an error cozz list in mutable
#d6 
d6={'Name':'Awa',(1,2,3):2}
d6

{'Name': 'Awa', (1, 2, 3): 2}

Accessing Items:

In [194]:
# Indexing is not allowed,,
my_dict={'name':'jack','age':23}

#1-[]:
print(my_dict['age'])


#2- get:
print(my_dict.get('age'))

23
23

In [151]:
#Accessing items from 2D dic..:
s={
    'Name':'Awais',
    'Collage':'Bit',
    'Sem':4,
    'Subjects':{
        'DSA':50,
        'Math':80,
        'English':40
    }
}
s['Subjects']['Math']

80

 Adding key-value pair:

In [137]:
D={'name':'jack','age':23}

D['Gender']='male'
D
D['Weight']='80'
D

{'name': 'jack', 'age': 23, 'Gender': 'male', 'Weight': '80'}

In [152]:
#Adding key-value pair in 2D:
s={
    'Name':'Awais',
    'Collage':'Bit',
    'Sem':4,
    'Subjects':{
        'DSA':50,
        'Math':80,
        'English':40
    }
}
s['Subjects']['ds']=75
s

{'Name': 'Awais',
 'Collage': 'Bit',
 'Sem': 4,
 'Subjects': {'DSA': 50, 'Math': 80, 'English': 40, 'ds': 75}}

Remove Key-value pair:

In [150]:
d={'name': 'jack', 'age': 23, 'Gender': 'male', 'Weight': '80'}
#1-pop:
#d.pop('age')
#print(d)


#2-popitem:  del last key-value pair..
#d.popitem()
#d


#3-del:
#del d['name']
#d
#del d
#d


#4-clear: empty dic...
d.clear()
d

{}

In [153]:
#Remove key-value pair in 2D:
s={
    'Name':'Awais',
    'Collage':'Bit',
    'Sem':4,
    'Subjects':{
        'DSA':50,
        'Math':80,
        'English':40
    }
}
del s['Subjects']['Math']
s

{'Name': 'Awais',
 'Collage': 'Bit',
 'Sem': 4,
 'Subjects': {'DSA': 50, 'English': 40}}

Editing key-value pair:

In [157]:
s={
    'Name':'Awais',
    'Collage':'Bit',
    'Sem':4,
    'Subjects':{
        'DSA':50,
        'Math':80,
        'English':40
    }
}
s['Sem']=5
s
s['Subjects']['Math']=50
s

{'Name': 'Awais',
 'Collage': 'Bit',
 'Sem': 5,
 'Subjects': {'DSA': 50, 'Math': 50, 'English': 40}}

Dictionary Operations:

In [161]:
#1-Membership:
s
'Awais' in s    #False cozz in dictionary we talking about keys not values...
'Name' in s

True

In [166]:
#2-Iteration:
d={'Name':'Awa','Gender':'male','age':21}
for i in d:
    print(i,d[i])

Name Awa
Gender male
age 21

Dictionary Functions:

In [169]:
d={'Name':'Awa','Gender':'male','age':21}
#len:
print(len(d))
#sorted:
print(sorted(d))

#max:
print(max(d))

3
['Gender', 'Name', 'age']
age

In [174]:
#items:  display key-value pair in tuples form..
d={'Name':'Awa','Gender':'male','age':21}
print(d.items())

#Keys:
print(d.keys())

#values:
print(d.values())

dict_items([('Name', 'Awa'), ('Gender', 'male'), ('age', 21)])
dict_keys(['Name', 'Gender', 'age'])
dict_values(['Awa', 'male', 21])

In [177]:
#update:
d1={1:2,3:4,4:5}
d2={4:7,6:8}

d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 7, 6: 8}

Dictionary Comprehension:  
{Key: value for vars in iterable}

In [178]:
#Print 1st 10 no. and their squares:
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [181]:
#using existing dict,,:
distance={'lhr':100,'mdk':200,'bwl':300}
{key:value*1.62 for (key,value) in distance.items()}

{'lhr': 162.0, 'mdk': 324.0, 'bwl': 486.00000000000006}

In [182]:
#using zip:
days={'sunday','monday','tuesday','wednesday','Thursday','friday','saturday'}
temp_c={30.5,32.6,31.8,33.4,29.2,31.3,23.9}
{i :j for (i,j) in zip(days,temp_c)}

{'Thursday': 32.6,
 'tuesday': 33.4,
 'wednesday': 23.9,
 'friday': 31.3,
 'sunday': 29.2,
 'saturday': 30.5,
 'monday': 31.8}

In [185]:
#using if condition:
p={'phone':10,'laptops':12,'charger':9,'tablet':0}


{key:value for(key,value) in p.items() if value>0}

{'phone': 10, 'laptops': 12, 'charger': 9}

In [188]:
#nested comprehension:
# print tables of no. from 2 to 4:
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}

In [7]:
#Without comprehenssion:
#print tables of no. from 2 to 4:
for i in range(2,5):
    print(f'Table of {i} :')
    for j in range(1,11):
        print({j:i*j})

Table of 2 :
{1: 2}
{2: 4}
{3: 6}
{4: 8}
{5: 10}
{6: 12}
{7: 14}
{8: 16}
{9: 18}
{10: 20}
Table of 3 :
{1: 3}
{2: 6}
{3: 9}
{4: 12}
{5: 15}
{6: 18}
{7: 21}
{8: 24}
{9: 27}
{10: 30}
Table of 4 :
{1: 4}
{2: 8}
{3: 12}
{4: 16}
{5: 20}
{6: 24}
{7: 28}
{8: 32}
{9: 36}
{10: 40}